<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/actionbar"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name=".content.CreditosActivity"
            android:exported="false" />
        <activity
            android:name=".content.my_content.MyContentActivity"
            android:exported="false" />
        <activity
            android:name=".content.ContentUpdate"
            android:exported="false" />
        <activity
            android:name=".content.ContentPostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.MisionVisionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".games.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".games.SelectObjectWeb"
            android:exported="false" />
        <activity
            android:name=".games.AparecerObjetosAuxilitos"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Olvide mi contraseña -->
        <activity
            android:name=".registro.OlvidarPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Splash Screen -->
        <activity
            android:name=".registro.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Login -->
        <activity
            android:name=".registro.Login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Registro -->
        <activity
            android:name=".registro.Registro"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Perfil -->
        <activity
            android:name=".registro.Profile"
            android:exported="false"
            android:label="@string/title_profile"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>